{% load i18n %}
{% load static %}
<style> 
    #STP_test_table .icon{
        margin-right: 0.5rem;
    }
    #STP_test_table .test-table-unik td.not_title{
        width: 15%;
    }
</style>
<div id='STP-testing-table-toolbar'>
    <div class='btn-group'>
        {% include "filter_list.html" with id="stp_test" %}
    </div>
</div>
<table
class='table table-striped table-condensed'
id="STP_test_table"
data-id-table="STP_test_table"
data-toolbar='#STP-testing-table-toolbar'
data-url="{{dataUrl}}"
>
    <thead class="">
        <tr>
            <th data-sortable="true" class="th-inner sortable both" data-field="part_name" data-formatter="STP_item_formatter">
                {% trans 'Item' %}
            </th>
            <th data-sortable="true" class="th-inner sortable both" data-field="batch" >
                {% trans 'Batch' %}
            </th>
            <th data-sortable="true" class="th-inner sortable both" data-field="updated" >
                {% trans 'Updated' %}
            </th>
            <th data-sortable="true" class="th-inner sortable both" data-field="location_detail.pathstring" data-formatter="STP_location_formatter">
                {% trans 'Location' %}
            </th>
            <th data-sortable="true" class="th-inner sortable both" data-field="testItem" data-formatter="STP_test_formatter">
                {% trans 'Tests' %}
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


<script>

    const testNameCodes = {
        {% for opt in testName %}'{{ opt.test_name }}': {
            key: '{{ opt.test_name }}',
            value: '{{ opt.test_name }}',
        },
        {% endfor %}
    };



    function STP_generete_sid_url(id){
        return "{% url 'stock-item-detail' pk=1122334455 %}".replace("1122334455", id);
    }
    function STP_generete_part_url(id){
        return "{% url 'part-detail' pk=1122334455 %}".replace("1122334455", id);
    }
    function STP_generete_location_url(id){
        return "{% url 'stock-location-detail' pk=1122334455 %}".replace("1122334455", id);
    }
    function STP_item_formatter(value, row, index, field){

        urlR=STP_generete_sid_url(row.pk)
        response ='<a href="'+urlR+'" title="'+urlR+'">'+value+'</a>'
        return response;
    }
    function STP_quantity_formatter(value, row, index, field){
        //console.log('[STP_quantity_formatter]')
        //console.log('row :'+JSON.stringify(row))
        urlR=STP_generete_sid_url(row.item)
        response ='<a href="'+urlR+'" title="'+urlR+'">'+value+' '+row.unit+'</a>'
        return response;
    }
    function STP_location_formatter(value, row, index, field){
        if(row.location_detail == null)return "-"
        urlR = STP_generete_location_url(row.location_detail.pk)
        response ='<a href="'+urlR+'" title="'+urlR+'">'+value+'</a>'
        return response;
    }
    function STP_test_formatter(value, row, index, field){
        //console.log("STP_test_formatter ------------------------------------------");
        //console.log("value :"+JSON.stringify(value));
        //console.log("row :"+JSON.stringify(row));
        //console.log("index :"+JSON.stringify(index));

        test=value[0]

        var html = "<table class='table table-condensed test-table-unik'>";
        // test name
        html +="<tbody>"
        html += "<tr><td>"+test.test_name+"</td>";
        // test mandatory
        html += "<td class='icons not_title'><span class='icon'><i class='fas fa-exclamation "+ STP_test_is_success(test.required, test.result.test) //(test.required ? "text-success":"text-secondary")
        html += "' title='{%trans 'Is mandatory' %} : " +test.required+"'";
        html+= "></i></span>";
        // test value mandatory
        if(test.requires_value || test.result.value){
            html += "<span class='icon'><i class='fas fa-pen "+ STP_test_is_success(test.requires_value, test.result.value)
            html += "' title='{%trans 'Value required' %} : " +test.requires_value
            if(test.result.value)html += " | "+test.result.value;
            html += "'";
            html+= "></i></span>";
        }
        // test file mandatory
        if(test.requires_attachment || test.result.attachment){
            html += "<span class='icon'>";
            if(test.result.attachment)html+="<a href="+test.result.attachment+" >";                
            html+="<i class='fas fa-file-alt "+ STP_test_is_success(test.requires_attachment, test.result.attachment)
            html += "' title='{%trans 'Attachement required' %} : " +test.requires_attachment+"'";
            html+= "></i>";
            if(test.result.attachment)html+="</a>"; 
            html+="</span>";
        }
        // note
        if(test.result.notes){
            html += "<span class='icon'><i class='fas fa-comment text-info' "
            html += "' title='{%trans 'Notes' %} :"+test.result.notes+"'";
            html+= "></i></span>";
        }
        html +="</td>";
        //date
        html +="<td class='not_title'>"
            if(test.result.date)html +=test.result.date;
        html +="</td>";
        //test status
        html +="<td class='not_title'>"
        if(!test.result.test){
            html +='<span class="badge badge-right rounded-pill bg-secondary">{%trans "WAITING" %}</span>';
        }else if(test.result.result){
            html +='<span class="badge badge-right rounded-pill bg-success">OK</span>';
        }else{
            html +='<span class="badge badge-right rounded-pill bg-danger">KO</span>';
        }
        
        html +="</td>"
        //user
        html +="<td class='not_title'>"
        if(test.result.user){
            html +=test.result.user_detail.username
        }
        html +="</td>"
        html +="</tbody>"

            
        return html

    }
    function STP_test_is_success(condrequire, testResult){
        if(condrequire == false && testResult)return "text-info"
        if(condrequire == false && !testResult)return "text-secondary"
        if(condrequire == true && !testResult)return "text-danger"
        if(condrequire == true && testResult)return "text-success"

    }
</script>